.page{
    height:auto
    width:auto;
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid black;
     
}
.grid-container{
    display:grid;
    grid-template-columns: auto auto auto;
    
}
.grid-item{
    display:grid;
    border: 1px solid black;
    
       
}
.grid-text{
    -ms-text-combine-horizontal:all;
    padding: 5px;
}
.content1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.content{
    margin-bottom: 10px;
}
